<h1>EARTH</h1>
<h2>VENUS</h2>
<h3>JUPITER & SATURN</h3>
<h4>URANUS, NEPTUNE, & PLUTO</h4>
<h5>SO, YOU WANT TO TRAVEL TO SPACE</h5>
<p class="subheading1">384,400 KM</p>
<p class="subheading2">AVG, DISTANCE</p>
<p class="nav-text">EUROPA</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad beatae cumque dignissimos inventore minus
  obcaecati officia pariatur reiciendis sit, tempora tempore veritatis. Excepturi explicabo facere facilis fugit
  perspiciatis suscipit?</p>
<button (click)="toggleActive()"
  class="btn-landing-page mx-3
lg:hover:shadow-[0_0_0_88px_rgba(255,255,255,0.1)]
">EXPLORE
</button>

<div [ngClass]="{'active': active}" class="navbar-element py-10 w-fit">
  ACTIVE
</div>

<div [ngClass]="{'active': active}" class="slider1 w-10 h-10"></div>
<div [ngClass]="{'active': active}" class="slider2 w-10 h-10">
  <p>3</p>
</div>
